
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2.5;
}
.fuente{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
nav
{
    background-color: #660066;
}
header hr{
    border-style: solid;
    width: 150pt;
}
hr{
    border-style: solid;
    width: 80pt;
}
.hero{
    background-image: url('../img/hero_bg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; 
    padding-bottom: 10rem;
}
@media screen and (min-width:320px) and (max-width:768px){

    #about{
        display: none;
    }   
}
.interlineado{
    line-height: 2.5;
}
.card-title{
    font-family: 'Oswald', sans-serif; 
}
.trabajos{
    background-color: #660066;
}
.fuente-color{
    color: #660066;
}
footer{
    background-color: #660066;
    padding: 20px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}